.inputBox{
    background-color: #f1f1f1;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}